In [ ]:
#Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.
#For each of the following questions, formulate a null and alternative hypothesis 
#(be as specific as you can be), then give an example of what a true positive, true 
#negative, type I and type II errors would look like. Note that some of the questions
#are intentionally phrased in a vague way. It is your job to reword these as more precise
#questions that could be tested.

#Has the network latency gone up since we switched internet service providers?
Ho: network latency has stayed the same or been worse
Hα: newtork latency has gone up
True Positive: network latecy has gone up and we reject Ho
True Negative: network latecy stayed same and we accept Ho
False Positive: network latency stayed same but we failed to accept Ho
False negative: network latecy gone but we accepted Ho

In [ ]:
#Is the website redesign any good?
Ho:people spend same amount of time in the website
Hα: people have been spending more time in the website
True postive: we rejected Ho. people spent more time in the website
True negative: we failed to reject Ho. people did not spend more time in the website
False positive: rejected Ho. we thought people spent more time but we were worng
False negative: failed to reject Ho. people spent more time in the website but we thought otherwise

In [ ]:
#Is our television ad driving more sales?
Ho: tv revenue has stayed the same
Hα: tv revenue has increased
True positive: we rejected Ho. tv revenue has gone up as expected such
True negative: we failed to reject Ho. tv revenue stayed the same as expected such
False postive: we rejected Ho. tv revenuse increased but we failed to show that
False negative: we failed to reject Ho. tv revenue stayed the same but we showed it did

In [ ]:
# Ace Realty wants to determine whether the average time it takes
#to sell homes is different for its two offices. A sample of 40 sales 
#from office #1 revealed a mean of 90 days and a standard deviation of 15 days.
#A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
#Use a .05 level of significance.

In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

In [2]:
# formulate hypotheses

# H0: mean sales time for Office 1 = mean sales time for Office 2. 
# H1: mean sales time for Office 1 != mean sales time for Office 2

In [7]:
#my data
#office1
μ1 = 90
σ1= 15
n1 = 40

#office2
μ2 = 100
σ2 = 20
n2 = 50

In [8]:
# my assumptions
#are they normal distribution:yes(we are gonna say so)
#are variance different:yes
#are they independent data: yes

In [9]:
alpha = 0.05

In [10]:
t, p = stats.ttest_ind_from_stats(μ1,σ1,n1, μ2,σ2,n2, equal_var= False)

In [11]:
t, p

(-2.7091418459143854, 0.00811206270346016)

In [12]:
if p < alpha:
    print("we reject null hypothesis")
else:
    print("we fail to reject null hypothesis")

we reject null hypothesis

In [13]:
# Load the mpg dataset and use it to answer the following questions:
#Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
#Are compact cars more fuel-efficient than the average car?
#Do manual cars get better gas mileage than automatic cars?

In [14]:
mpg = data('mpg')

In [15]:
 #1. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [18]:
mpg["average_mpg"] = stats.hmean(mpg[["cty","hwy"]],axis = 1)
mpg.head(1)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.212766

In [19]:
avg_mpg_2008 = mpg[mpg.year == 2008].average_mpg
avg_mpg_2008.head(1)

3    24.313725
Name: average_mpg, dtype: float64

In [20]:
avg_mpg_1999 = mpg[mpg.year == 1999].average_mpg
avg_mpg_1999.head(1)

1    22.212766
Name: average_mpg, dtype: float64

In [21]:
#variance test:
#Ho:variances are equal
#H1:variances are not equal

tstat,pval = stats.levene(avg_mpg_2008, avg_mpg_1999)

In [22]:
tstat, pval

(0.031071867429515194, 0.8602339200830025)

In [23]:
alpha = 0.05
if pval < alpha:
    print ("reject null hypothesis")
else:
    print("fail to reject null hypothesis")

fail to reject null hypothesis

In [24]:
#Ho: avg_mpg_2008 == avg_mpg_1999
#H1: avg_mpg_1999 != avg_mpg_1999

#distro is normal
#variance is same
#independent sample

In [25]:
#find t and p value
t,p = stats.ttest_ind(avg_mpg_2008, avg_mpg_1999, equal_var = True)
t,p

(-0.3011962975077886, 0.7635345888327115)

In [26]:
if p < alpha:
    print("reject null hypothesis")
else:
    print("cannot reject null hypothesis")

cannot reject null hypothesis

In [27]:
#2. Are compact cars more fuel-efficient than the average car?

In [28]:
#first find average mpg of all car
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.212766
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,24.360000
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,24.313725
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,24.705882
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,19.809524

In [29]:
average_all_car = mpg.average_mpg.mean()
average_all_car

19.585525317633177

In [30]:
compact_mpg = mpg[mpg['class'] == 'compact'].average_mpg
compact_mpg.head()

1    22.212766
2    24.360000
3    24.313725
4    24.705882
5    19.809524
Name: average_mpg, dtype: float64

In [31]:
#variance test

In [32]:
#Ho: mpg of compact car =< mpg of all car
#H1: mpg of compact car > mpg of all car

In [43]:
#t test
t,p = stats.ttest_1samp(compact_mpg,average_all_car )
t,p/2

(7.512360093161354, 7.808833174403864e-10)

In [34]:
if (t > 0) and (p/2 < alpha):
    print("reject null hypothesis")
else:
    print("cannot reject null hypothesis")

reject null hypothesis

In [35]:
# Do manual cars get better gas mileage than automatic cars?
mpg.head(1)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.212766

In [36]:
auto_mpg = mpg[mpg.trans.str.contains("auto")].average_mpg
auto_mpg.head(1)

1    22.212766
Name: average_mpg, dtype: float64

In [37]:
manual_mpg = mpg[mpg.trans.str.contains("manual")].average_mpg
manual_mpg.head(1)

2    24.36
Name: average_mpg, dtype: float64

In [38]:
#variance test
#Ho: variances are same
#H1: variances are different
stat,p_levene = stats.levene(manual_mpg,auto_mpg)
p_levene

0.9062462281015493

In [39]:
# varience is same as pval is greater than alpha

In [44]:
#set up
#Ho: manual_mpg =< auto_mpg
#H1:manual_mpg > auto_mpg
t, p = stats.ttest_ind(manual_mpg, auto_mpg, equal_var = True)
t,p/2

(4.652577547151351, 2.7552323050220026e-06)

In [41]:
# it is one tailed test
if (t>0) and (p/2 < alpha):
    print("reject null hypothesis")
else:
    print("cannot reject null hypothesis")

reject null hypothesis