In [3]:
%matplotlib inline
import numpy as np
import pandas as pd

In [4]:
#1. How likely is it that you roll doubles when rolling two dice?

outcomes = [1,2,3,4,5,6]
n_simulations = 1000_000
n_trials = 2
rolls = np.random.choice(outcomes,(n_simulations, n_trials))
rolls

array([[3, 2],
       [5, 4],
       [6, 2],
       ...,
       [6, 2],
       [1, 6],
       [6, 5]])

In [50]:
df = pd.DataFrame(rolls)
df.head()

   0  1
0  2  1
1  2  1
2  3  6
3  6  4
4  1  4

In [52]:
double = df[0] == df[1]
double.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [53]:
double.mean()

0.16711

In [54]:
#2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?
outcomes = ['H', 'T']
n_trial = 8
n_sim = 10000

In [55]:
coinflip = np.random.choice(outcomes, (n_sim, n_trial))
coinflip

array([['T', 'H', 'H', ..., 'H', 'T', 'H'],
       ['T', 'T', 'T', ..., 'T', 'T', 'H'],
       ['T', 'H', 'T', ..., 'T', 'T', 'H'],
       ...,
       ['T', 'T', 'T', ..., 'H', 'T', 'H'],
       ['H', 'T', 'T', ..., 'H', 'T', 'T'],
       ['T', 'H', 'T', ..., 'T', 'T', 'T']], dtype='<U1')

In [57]:
coinflip = pd.DataFrame(coinflip)
coinflip.head()

   0  1  2  3  4  5  6  7
0  T  H  H  T  T  H  T  H
1  T  T  T  T  H  T  T  H
2  T  H  T  T  H  T  T  H
3  T  T  T  T  T  T  H  T
4  H  T  H  T  H  T  T  H

In [70]:
#exactly 3 head?
exactly_3 = ((coinflip == 'H').sum(axis=1)) == 3
exactly_3

0       False
1       False
2        True
3       False
4       False
        ...
9995    False
9996     True
9997     True
9998    False
9999     True
Length: 10000, dtype: bool

In [71]:
#mean of thayt
exactly_3.mean()

0.219

In [72]:
#  What is the probability of getting more than 3 heads?
coinflip.head(3)

   0  1  2  3  4  5  6  7
0  T  H  H  T  T  H  T  H
1  T  T  T  T  H  T  T  H
2  T  H  T  T  H  T  T  H

In [75]:
more_than_3 = (coinflip=="H").sum(axis = 1) > 3

In [76]:
more_than_3.mean()

0.6343

In [ ]:
#3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [3]:
n_simulation = 100000
n_trial = 2
results = pd.DataFrame(np.random.choice(([1,0,0,0]),(n_simulation, n_trial)))

In [4]:
results.head()

   0  1
0  1  1
1  0  0
2  1  0
3  1  0
4  1  1

In [5]:
results = results.sum(axis = 1) == 2
results

0         True
1        False
2        False
3        False
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [6]:
results.mean()

0.06346

In [ ]:
#4. Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [14]:
#loc:mean
#scale:std
n_sim = 10000
n_days= 4

result= np.random.normal(loc = 3,scale = 1.5,size = (n_sim, n_days))
result

array([[1.43187222, 3.32720148, 3.08667919, 2.65513271],
       [4.4278057 , 3.12751841, 4.08707278, 5.12179172],
       [1.94022584, 3.88166775, 3.21241395, 1.02025284],
       ...,
       [5.0659162 , 2.02042032, 3.75708328, 1.9954743 ],
       [0.25408465, 2.66853603, 2.21997142, 2.52869016],
       [1.72483178, 3.72588365, 5.00357978, 1.76662872]])

In [22]:
result = pd.DataFrame(result)
result.head()

          0         1         2         3
0  1.431872  3.327201  3.086679  2.655133
1  4.427806  3.127518  4.087073  5.121792
2  1.940226  3.881668  3.212414  1.020253
3  2.107462  1.700149  2.638176  3.627915
4  3.425160  5.471509  4.951647  4.787092

In [24]:
new_result = result.sum(axis = 1) < 17
new_result

0        True
1        True
2        True
3        True
4       False
        ...
9995     True
9996     True
9997     True
9998     True
9999     True
Length: 10000, dtype: bool

In [25]:
new_result.mean()

0.9564

In [ ]:
#5. Compare Heights

#Men have an average height of 178 cm and standard deviation of 8cm.3Women have a mean of 170, sd = 6cm.
#Since you have means and standard deviations, you can use np.random.normal to generate observations.
#If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [7]:
men_array = np.random.normal(loc= 178,scale = 8, size = 100_000)
men_df = pd.DataFrame(men_array, columns = ['men'])
men_df.head()

          men
0  183.473547
1  180.579189
2  179.371113
3  192.895607
4  172.621069

In [8]:
women_array = np.random.normal(loc = 170, scale = 6, size = 100_000)
women_df = pd.DataFrame(women_array, columns = ['women'])
women_df.head()

        women
0  178.662200
1  176.668253
2  169.731595
3  170.488899
4  172.148592

In [11]:
# can directly make a df with males and females from array, reduce extra 
#df = pd.DataFrame({"men":men_array, "women":women_array})

df["is_women_tall_than_men"] = women_df['women'] > men_df['men']
df

             0         1         2  is_women_tall_than_men
0     0.293872  0.193280  0.821325                   False
1     0.508388  0.676477  0.943779                   False
2     0.062685  0.257862  0.508070                   False
3     0.772239  0.140256  0.070174                   False
4     0.777836  0.498124  0.567755                   False
...        ...       ...       ...                     ...
9995  0.135448  0.905253  0.244841                   False
9996  0.029661  0.444385  0.014102                   False
9997  0.869053  0.681804  0.145171                   False
9998  0.822999  0.467837  0.927792                   False
9999  0.383629  0.025080  0.955102                   False

[10000 rows x 4 columns]

In [12]:
df.is_women_tall_than_men.mean()

0.2107

In [57]:
#6 When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

In [59]:
p_fail = 1/250
p_pass = 249/250
choice = [0,1]
sample = 50
n_sim = 10_000
array = np.random.choice(choice,p=[p_pass,p_fail],size = (n_sim, sample))
computers = pd.DataFrame(array)
computers.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
#no issue from any students means sum = 0
(computers.sum(axis = 1) == 0).mean()

0.8159

In [66]:
#with 100 students
p_fail = 1/250
p_pass = 249/250
choice = [0,1]
sample = 100
n_sim = 10_000
array = np.random.choice(choice,p=[p_pass,p_fail],size = (n_sim, sample))
computers = pd.DataFrame(array)
computers.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
(computers.sum(axis = 1)==0).mean()

0.6633

In [70]:
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?
p_fail = 1/250
p_pass = 249/250
choice = [0,1]
sample = 150
n_sim = 10_000
array = np.random.choice(choice,p=[p_pass,p_fail],size = (n_sim, sample))
computers = pd.DataFrame(array)
computers.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
(computers.sum(axis = 1) > 0).mean()

0.4527

In [73]:
# How likely is it that 450 students all download anaconda without an issue?
p_fail = 1/250
p_pass = 249/250
choice = [0,1]
sample = 450
n_sim = 10_000
array = np.random.choice(choice,p=[p_pass,p_fail],size = (n_sim, sample))
computers = pd.DataFrame(array)
computers.head()

,0,1,2,3,4,5,6,7,8,9,...,440,441,442,443,444,445,446,447,448,449
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
(computers.sum(axis = 1) == 0).mean()

0.1646

In [ ]:
#7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?
#How likely is it that a food truck will show up sometime this week?

In [47]:
p_yes_truck = .7
p_no_truck = .3
choice = [1,0]
n_sim = 10_000
days = 3
truck = np.random.choice(choice,p=[p_yes_truck,p_no_truck],size = (n_sim, days))
truck = pd.DataFrame(truck)
truck.head(2)

   0  1  2
0  1  1  1
1  1  1  1

In [48]:
truck["sum"] = truck.sum(axis=1)
truck.head()

   0  1  2  sum
0  1  1  1    3
1  1  1  1    3
2  1  1  1    3
3  1  1  0    2
4  1  1  1    3

In [49]:
# unlikely to not be there in all 3 days means sum = 0
(truck.sum(axis=1)== 0).mean()

0.0287

In [ ]:
#it is 2.87% unlikely

In [54]:
#7b. How likely is it that a food truck will show up sometime this week?

p_yes_truck = .7
p_no_truck = .3
choice = [1,0]
n_sim = 100_000
days = 5
truck = np.random.choice(choice,p=[p_yes_truck,p_no_truck],size = (n_sim, days))
truck = pd.DataFrame(truck)
truck.head(2)

   0  1  2  3  4
0  1  0  0  1  1
1  1  0  0  1  0

In [55]:
#atleast one time show this week
(truck.sum(axis = 1) > 0).mean()

0.99756

In [56]:
# or
1- ((truck.sum(axis = 1) == 0).mean())

0.99756

In [ ]:
# it will be there atleast one day 99.75%

In [109]:
#8 .If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?
birthdays = range(366)
n_sim = 10_000
size = 23
array = np.random.choice(birthdays, (n_sim, size))
birthdays = pd.DataFrame(array)
birthdays.head(2)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,281,242,153,258,354,311,136,361,33,173,...,133,189,22,364,255,123,320,243,253,6
1,285,139,166,360,339,290,260,212,280,112,...,143,57,100,161,247,11,350,60,295,59

In [114]:
unique_birthdays = birthdays.nunique(axis = 1)
(unique_birthdays < 23).mean()

0.5076

In [ ]:
# what is 20 people

In [116]:
birthdays = range(366)
n_sim = 10_000
size = 20
array = np.random.choice(birthdays, (n_sim, size))
birthdays = pd.DataFrame(array)
unique_birthdays = birthdays.nunique(axis = 1)
(unique_birthdays < 20).mean()

0.3991

In [117]:
# what is 40 people
birthdays = range(366)
n_sim = 10_000
size = 40
array = np.random.choice(birthdays, (n_sim, size))
birthdays = pd.DataFrame(array)
unique_birthdays = birthdays.nunique(axis = 1)
(unique_birthdays < 40).mean()

0.8879